<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  {{!-- html from index.hbs --}}
  {{{body}}}
</body>
<script>
  console.log("hello client side");

  const socket = io('/');

  const messageDiv = document.getElementById('message');

  socket.on('chatMessages', data =>{
    messageDiv.innerHTML += data + '<br>';
  });

  document.querySelector('button').onclick = (event) =>{
    const message = document.querySelector('input').value;
    socket.emit('message', message);
    messageDiv.innerHTML += 'You: ' + message + '<br>';
    document.querySelector('input').value = '';
  };


  socket.on('connect', () =>{
    console.log('socket connected');
  });

   socket.on('disconnect', () =>{
    console.log('socket disconnected');
  });
</script>
</html>